<div class="posts">
  {{#each post}}
  <article class="card">
    <div class="">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>